Options -Indexes

RewriteEngine On

DirectoryIndex public/index.php
# Rediriger précisément localhost/calendar/ vers /public/index.php
RewriteCond %{REQUEST_URI} ^/calendar/$
RewriteRule ^$ /calendar/public/index.php [R=301,L]
